<h1>Adding a new product</h1>

{{ form_start(form) }}
    {# ... #}

    {{ form_row(form.brochure) }}
{{ form_end(form) }}
<button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='http://127.0.0.1:8000/main/page'">Powróć</button>